#contact-form label { 
	color: #7b7b7b;
	float: left;
	clear: both;
	width: 80px;
	height: 30px;
	line-height: 30px;
}

#contact-form input {
	background-color: #fefefe; padding: 0px; width: 188px; height:14px; float: left; border: 1px solid #dedede; color: #333333; padding:3px;  margin-bottom:15px; font-size: 12px; font-family:"Trebuchet MS", Verdana, sans-serif;
}

#contact-form textarea {
	background-color: #fefefe; width: 188px; height:115px; padding: 0px; float: left; margin: 5 5 5 0; border: 1px solid #dedede; color: #333333; padding:3px;margin-bottom:15px; font-size: 12px; font-family:"Trebuchet MS", Verdana, sans-serif;
}

#contact-form input#submit-button {
	background: url(../style/images/send.jpg) 0 0;
	background-repeat: no-repeat;
	width:50px;
	height:21px;
	border:0;
	cursor:pointer;
	float:left;
	margin-left:80px;
	margin-top: -5px;
}

#contact-form input#submit-button:hover {
	background: url(../style/images/send.jpg) 0 -21px;
	background-repeat: no-repeat;
}

.notes		{ background: none; }
.success	{ background: url('../style/images/ok.png') no-repeat top left; height: 26px; padding-bottom:5px; padding-left:20px; width: 300px;  text-align: left;}
.error		{ color: #d3606a; height: auto; height: 26px; padding-bottom:5px; width: 300px; text-align: left;}
.notice		{ background: none; }

.notes span,.notice span,.success span,.error span  {
	font-weight:bold;
	font-size:13px;
}

.notes p,.success p,.error p,.notice p {
	margin:0px;
	padding:0px;
}

#note {width:100%; padding:0; margin:0;}